body {
  margin: 0;
  font-family: "Karla", "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  background-color: #ffffff;
}

.footer-component {
  width: 95%;
  display: flex;
  align-self: center;
}

.about-page {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contact-page {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
